config global service
	option cron '45	*/4	*	*	*'
	option self '*/10	*	*	*	*'

config online self
	option disabled 1
	option account mine
	option inside 1

config online workstation
	option disabled 1
	option target 192.168.1.5
	option account mine
	option inside 1

config account mine
	option disabled 1
	option username username
	option password password
